
*{
    
    font-family: 'Gabarito', sans-serif;
}

body {

    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bitter', serif;

}



h1{color: fuchsia;
    font-size: 4rem;
}


h2{color: yellow;
    font-size: 3rem;
    ;
}



h3{color: red;
    font-size: 2.5rem;
}



h4{color: purple;
    font-size: 2rem;}
    
    
    
    h5{
        font-size: 1.5rem;
    }
    
    
    h6{
        font-size: 1.25rem;
    }
    
    p{
    font-size: 16px;
}



section{ 
    
/* border: 1px red solid; */
/* height: 50vh; */
padding: 64px;
align-items: center;}


.container {

    display: flex;
}


header {
justify-content: space-between;
align-items: center;
padding: 16px;
}


footer {
    height: 30vh;
    align-items: center;
    justify-content: space-around;
}

#hero {
background-color: lightgray;
justify-content: space-around;
align-items: center;
height: 100vh;

}

#features {

    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    background-color: violet;
}

feature div {

justify-content: space-around;

}

.img-feat {

border-radius: 64px

}


#news {
    text-align: center;
    background-color: gold;
}

#news div {

    justify-content: space-around; 
    
}


#contact {
align-items: flex-start ;
justify-content: space-around;
background-color: coral;
padding: 64px;

}


i{

font-size: 1.5rem;

}


/* Links */
a:link,
a:visited {

    text-decoration: none;
    color: indianred;
    padding: 8px 16px;
}

a:hover{

    color: darkmagenta;
    background-color: blanchedalmond;
    border-radius: 50px;
    
}

a:active{
color: dodgerblue;
background-color: darkslategray;

}



/* Forms */
input{
box-sizing: border-box;
width: 320px;
padding: 16x 24px;
margin: 8px 0;
border-radius: 5px;
border: 1px solid grey;
font-size: large;}

input:focus,
textarea:focus{
background-color: lightcyan;
outline:0;}


textarea {
/* width: 80%; */
width: 320px;
box-sizing: border-box;
margin: 8px 0;
border-radius: 5px;
border: 1px solid grey;
height: 150px;
padding: 16px 24px;
font-size: large;}



input [type=submit]  {
    border: none;
    background-color:deepskyblue;
    color: white;
    cursor: pointer;}


/* CV Button */

a.cv-button:link, 
a.cv-button:visited {

background-color: orangered;
border-radius: 8px;
padding: 8px 16px;
}

a.cv-button:hover {

    background-color: tomato;
}

a.cv-button:active {
background-color: darkred;

}



/* CTA Button */

a.cta-button {
color: indigo;
background-color: white;
border: 3px solid darkblue;
padding: 10px 20px;
box-shadow: 4px 4px 0 darkblue;
border-radius: 100px;

}


/* Tablet View */
@media only screen and (min-width: 680pc) and (max-width: 767px) {
   #hero {
    background-color: greenyellow;
   }
    


/* Mobile View */
@media only screen and (max-width: 679) {

    #hero {
        background-color: teal;
        flex-direction: column;
    }
#contact {
    flex-direction: column;

}
